body{
    font-family: Helvetica, sans-serif;
}

.centered {
    text-align: center;
}

.justify {
    text-align: justify;
}

.classtitle{
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
    color: orange;
    font-style: italic;
    font-weight: normal;
}

img{
    border: 15px solid black;
    padding: 10px;
    background-color: yellow;
}

body{
    background-image: url(ISU4.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}