#blackhead{
    color: white;
    background-color: black;
    font-weight: normal;
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

h1,h2{
    font-family: Helvetica, sans-serif;
}

#foot{
    color: white;
    background-color: red;
    padding: 25px;
    margin-bottom: 0px;
    font-family: Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    border-top: 6px solid black
}

#nav{
        font-family: Helvetica, sans-serif;
}

#nav li{
    display: block;
    width: 200px;
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
}

#nav li a{
    text-decoration: none;
    color: white;
}

#nav li:hover{
    background-color: darkred;
}

#headerthe2st{
    border-bottom: 6px solid black;
    font-weight: bold;
    padding-bottom: 10px;
    margin-right: 25px;
}

#georgia{
    font-family: Georgia, serif;
    text-align: justify;
    font-weight: bold;
;
}

a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

#thebigone {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 6px solid black;
  background-color: #ffffff;
}

body {
    background: url('a62.png') center center repeat; 
}

#brick{
    padding: 10px;
    border: 6px solid black;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#brick{
    float: left;
    margin-right: 25px;
}
#gridSUPERRIGHT{
    margin-right: 25px;
}

#gridRIGHT{
    margin-right: 25px;
}