.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    display: block;
    border: 1px solid black;
    width: 200px;
    /* margin-bottom: 20px; */
    background-color: red;
}

.nav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;

}

.nav li a:hover{
    background-color: black;
    text-decoration: underline;
}